<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
    rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark2 sticky-top">
      <div class="container align-items-end">
        <a class="navbar-brand d-md-none logo-img" href="./index.html"><img src="./assets/images/logo2.svg" class="mx-auto d-block " height="24" alt="logo"></a>
        <a class="navbar-brand d-none d-md-flex" href="./index.html"><img src="./assets/images/logo.svg" class="" height="42" alt="logo"></a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons-round text-primary fs-md-2">
            drag_handle
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto text-center mt-4 ">
            <li class="nav-item me-5">
              <a class="nav-link active fs-7 text-white" aria-current="page" href="./index.html">首頁</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link fs-7 text-white" href="./intro_course.html">課程介紹</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link d-flex justify-content-center align-items-center fs-7 text-white " href="#">
                <span class="material-symbols-outlined me-1">
                  account_circle
                </span>登入
              </a>
            </li>
            <li class="nav-item dropdown">
              
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">首頁</a></li>
                <li><a class="dropdown-item" href="#">課程介紹</a></li>
                <li>
                  <a class="nav-link d-flex align-items-center" href="#">
                    <span class="material-symbols-outlined me-1">
                      account_circle
                    </span>登入
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>
    <div class="bg-dark2">
      <div class="container">
        <div class="footer text-center">
          <p class="font-family my-0">Coding Home © 2022 All Rights Reserved</p>
        </div>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>